body {
  margin: 0;
  overflow-x: hidden;

}

.mdl-textfield {
  position  : relative;
  font-size : 16px;
  display   : inline-block;
  box-sizing: border-box;
  width     : 50% !important;
  max-width : 100%;
  margin    : 0;
  padding   : 16px 0px !important;

}

.btn-custom {
  margin: 8px !important;
}


.main {
  display: flex;

}

.header-nav {
  width           : 100%;
  height          : 56px;
  display         : flex;
  justify-content : flex-end;
  align-items     : center;
  background-color: #FFFFFF;
}

.side-nav {
  position      : absolute;
  top           : 0;
  left          : 0;
  width         : 56px;
  display       : flex;
  flex-direction: column;
}

.side-nav-button-box {
  display         : flex;
  justify-content : center;
  align-items     : center;
  width           : 56px;
  height          : 56px;
  background-color: #3F51B5;
}

.user-dashboard {
  background-color: #303F9F;
  height          : 100vh;
}

.user {
  display        : flex;
  justify-content: center;
  width          : 56px;
  height         : 56px;
  margin-top     : 16px;
  margin-bottom  : 16px;
  cursor         : pointer;
}

.user:hover {
  background-color: #FF4081;
}

.user-img {
  width        : 2.75rem;
  height       : 2.75rem;
  border-radius: 50%;
  padding      : 0.5rem;
  object-fit   : cover;
}

.attach-box {
  display         : flex;
  align-items     : center;
  justify-content : center;
  width           : 56px;
  height          : 56px;
  background-color: #212121;
}

.dialog-container {
  position        : fixed;
  width           : 100vw;
  height          : 100vh;
  background-color: #C5CAE9;
  z-index         : -1;
}

.dialog-section {
  margin-top : 72px;
  margin-left: 56px;
}

.message-line {
  color           : white;
  background-color: #757575;
  border-radius   : 2rem;
  margin          : 8px;
  font-size       : 1.25rem;
  padding         : 0.5rem;
}

.message-line-user-two {
  color           : #757575;
  background-color: white;
  border-radius   : 2rem;
  margin          : 8px;
  font-size       : 1.25rem;
  padding         : 0.5rem;
}

footer {
  position        : fixed;
  bottom          : 0;
  right           : 0;
  left            : 0;
  width           : 100%;
  height          : 56px;
  display         : flex;
  justify-content : space-between;
  z-index         : 90;
  background-color: #FFFFFF;
}

.user-profile-card {
  position        : absolute;
  width           : 86%;
  height          : 80%;
  top             : 57px;
  left            : 56px;
  background-color: black;
  transform       : translateX(-380px);
  transition      : all 225ms ease-in-out;
}
.show-overlay-menu {
  transform: translateX(0);
}

.user-profile-card img {
  width     : 100%;
  height    : 25%;
  object-fit: cover;
}

.user-profile-card ul {}

.user-profile-card li {
  list-style: none;
  color     : white;
}

.close-btn {
  position: absolute;
  top     : 0;
  right   : 0;
}